.button::after {
    content: '';
    width: 24px;
    height: 24px;
    margin-left: 10px;
    
    background-image: url(../img/iconsend.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}