.join {
    display: inline-block;
    margin-bottom: 21px;

    font-size: 14px;
    line-height: 1.14;
    color: $primary-white-color;
}

.label {
    display: flex;
}


.item > .personal {
    display: block;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: $accent-color;
    }
}


.insta {
    background-image: url(../img/instagramFooter.svg);
}


.twit {
    background-image: url(../img/twitterFooter.svg);
}


.facebook {
    background-image: url(../img/facebookFooter.svg);
}


.li {
    background-image: url(../img/linkedinFooter.svg);
}

.connect {
    margin-left: 69px;
}


.connect .item + .item {
    margin-left: 10px;
}


.label .link {
    color: $primary-white-color;

    &:hover, &:focus {
        color: $accent-color;
    }
}