.logo {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.studio {
    color: $title-text-color;
}

.studio-footer {
    color: $primary-white-color;
}